---
layout: page
title: "About"
description: ""
header-img: "img/about.jpg"
---

<div class="zh post-container">
    <div>
        <h2>关于Memento Mori</h2>
        <div>
            <blockquote><p>记忆碎片，记录我所理解的世界</p></blockquote>
            <h5>连接世界，分享自己的观点和看法</h5>
            <h5>记录思考的轨迹，为正在流逝的时光做一份快照</h5>
            <h5>总结走过的道路，感受世界的奇妙</h5>
        </div>
    </div>
    <hr>
    <div>
        <h2>关于我</h2>
        <div>
            <blockquote><p>李晓恺 (loopwizard)，大千世界一个平凡而简单的存在</p></blockquote>
            <h5>热衷于探索世界的变化趋势，喜欢有趣的人和事</h5>
            <h5>去发现未曾看过的世界，去践行未曾走过的道路</h5>
            <hr>
            <h5>
                👉 
                {% if site.weibo_username %}
                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                {% endif %}或者
                👉 
                {% if site.zhihu_username %}
                    <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                        </span>
                    </a>
                {% endif %}，可以联系到我

            </h5>
        </div>
    </div>
</div>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
         {% if site.duoshuo_username == "huxblog" %}
         data-thread-id="1187623191091085319"
         {% else %}
         data-thread-key="{{site.duoshuo_username}}/about"
         {% endif %}

         data-title="{{page.title}}"
         data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


