---
layout: page
title: "About"
description: ""
header-img: "img/about.jpg"
---

<div class="zh post-container">
    <div>
        <h2>文章地图</h2>
        <div>
            <h5>大数据主题</h5>
            <blockquote><p>大数据相关</p></blockquote>
            <ul>
                <li><a href="http://huangxuan.me/2016/06/05/pwa-in-my-pov/">Progressive Web App 之我见 · 2016</a></li>
                <li><a href="http://huangxuan.me/2015/12/28/css-sucks-2015/">CSS Still Sucks 2015 · 2015</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div>
        <h2>关于我</h2>
        <div>
            <h5>李晓恺(loopwizard)，88年出厂，已婚未育</h5>
            <h5>帝都码农，12年毕业，在百度基础架构部折腾了3年分布式存储，现混迹在金山云大数据</h5>
            <h5>热衷于世界的变化趋势，喜欢有趣的人和事</h5>
            <h5>去发现未曾看过的世界，去践行未曾走过的道路</h5>
            <h5>
                👉 
                {% if site.weibo_username %}
                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                {% endif %}，可以联系到我！
            </h5>
        </div>
    </div>
</div>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
         {% if site.duoshuo_username == "huxblog" %}
         data-thread-id="1187623191091085319"
         {% else %}
         data-thread-key="{{site.duoshuo_username}}/about"
         {% endif %}

         data-title="{{page.title}}"
         data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


